extends layout

block content
  if messages 
     ul
      for message in messages 
        li  
          h3 Title: !{message.title}
          blockquote(class="blockquote") Message: !{message.message}
    
          if locals.user
            if locals.user.isVIP
              figcaption(class="blockquote-footer") !{message.author.firstName} !{message.author.lastName}, !{message.createdAtFormatted}
            
            if locals.user.isAdmin
              form(action=`/message/${message.id}/delete`, method="post") 
                input(type="submit", value="X")

  else
    p Nothing to show yet!
    
        
         

