extends layout

block content
  // message = [] => messages.length is 0, so it's false
  if messages.length 
    ul(class="list-unstyled")
      for message in messages 
        li(class="relative")  
          if locals.user
            if locals.user.isAdmin
              form(action=`/message/${message.id}/delete`, method="post") 
                button(type="submit" class="btn btn-danger offset") x
          h5 Title: !{message.title}
          blockquote(class="blockquote") !{message.message}
          if locals.user
            if locals.user.isVIP
              figcaption(class="blockquote-footer") !{message.author.firstName} !{message.author.lastName}, !{message.createdAtFormatted}
            
            

  else
    p Nothing to show yet!
    
        
         

